$font-stack: 'Source Code Pro', monospace;
$bg-color: #FFE000;
$primary-color: crimson;
$secondary-color: slategrey;


body, html {
	margin: 0;
	padding: 0;
	background: $bg-color;
	color: $secondary-color;
	transition: 0.3s;	
}

.container {
	width: 100%;
	font-family: $font-stack;
	margin: 20px auto 0;
	text-align: center;
	cursor: default;
	font-size: 1.2em;
	@media (min-width: 768px) {
		font-size: 1em;
	}
}

.name {
	position: relative;
	display: inline-block;
	background-image: url();
	background-size: cover;
	background-position: top center;
	opacity: 1;
	&:hover {
		background-image: url("../images/me.jpg");
		span {
			opacity: 0;
		}
		.caption {
			display: block;
		}
	}
	span {
		text-transform: uppercase;
		font-size: 3.5em;
		line-height: 1.2em;
		letter-spacing: 0.2em;
		margin-left: 0.3em;
		opacity: 1;
		display: block;
		user-select: none;
		text-shadow: 1px 1px $bg-color, 2px 2px $secondary-color;
		@media (min-width: 768px) {
			font-size: 2.5em;
		}
		&:nth-child(1) {
			margin-top: 10%;
			color: $primary-color;
			@media (min-width: 768px) {
				margin-top: 130px;
			}
		}
		&:nth-child(odd) {
			animation: slideRight 0.5s;
		}
		&:nth-child(even) {
			animation: slideLeft 0.5s;
		}
	}

	.caption {
		display: none;
		position: absolute;
		padding-top: 5px;
		text-align: center;
		width: 100%;
		font-size: 0.6em;
		i {
			font-style: normal;
			display: none;
			@media (min-width: 768px) {
				display: inline;
			}
		}
	}
}

.content {
	margin: 30px 0;
	font-size: 1em;
	animation: slideUp 0.5s;
	h2 {
		font-size: 1em;
		font-weight: normal;
		margin: 1em 0 0;
	}
	a {
		color: $primary-color;
		cursor: pointer;
	}
	p {
		max-width: 600px;
		margin: 10px auto;
		padding: 0 25px;
		font-size: 0.8em;
		text-transform: none;
		text-align: justify;
		user-select: auto;
		input[type="checkbox"] {
			display: none;
			&:checked ~ .aboutMeHidden {
				display: inline;
			}
		}
		label {
			color: $primary-color;
			text-decoration: underline;
			cursor: pointer;
		}
		.aboutMeHidden {
			display: none;
			color: $secondary-color;
		}
		&#currentProject {
			font-weight: bold;
		}
		&#links a {
			margin-right: 10px;
		}
	}
}

@keyframes slideLeft {
	from { transform: translateX(1000px); }
	to { transform: translateX(0px); }
}
@keyframes slideRight {
	from { transform: translateX(-1000px); }
	to { transform: translateX(0px); }
}
@keyframes slideUp {
	from { transform: translateY(1000px); }
	to { transform: translateY(0px); }
}