$font-stack: 'Source Code Pro', monospace;
$bg-color: #FFE000;
$primary-color: crimson;
$secondary-color: slategrey;


body {
	margin: 0;
	padding: 0;
	background: $bg-color;
	color: $secondary-color;
	transition: 0.3s;	
}
.container {
	width: 100%;
	font-family: $font-stack;
	text-transform: uppercase;
	margin: 20px auto 0;
	text-align: center;
	cursor: default;
	.name {
		display: inline-block;
		font-size: 2.5em;
		line-height: 1.2em;
		letter-spacing: 0.2em;
		background-image: url();
		background-size: cover;
		background-position: top center;
		transition: 0.2s;
		&:hover {
			background-image: url("../images/me.jpg");
			span {
				opacity: 0;
			}
		}
		span {
			margin-left: 0.3em;
			opacity: 1;
			display: block;
			text-shadow: 1px 1px $bg-color, 2px 2px $secondary-color;
			user-select: none;
			transition: 0.2s;
			&:nth-child(1) {
				margin-top: 130px;
				color: $primary-color;
			}
			&:nth-child(odd) {
				animation: slideRight 0.5s;
			}
			&:nth-child(even) {
				animation: slideLeft 0.5s;
			}
		}
	}
	.content {
		margin: 30px 0;
		font-size: 1em;
		h2 {
			font-size: 1em;
			font-weight: normal;
			margin: 1em 0 0;
		}
		a {
			color: $primary-color;
			cursor: pointer;
		}
		p {
			max-width: 600px;
			margin: 10px auto;
			padding: 0 25px;
			font-size: 0.8em;
			text-transform: none;
			text-align: justify;
			user-select: auto;
			input[type="checkbox"] {
				display: none;
				&:checked ~ .aboutMeHidden {
					display: inline;
				}
			}
			label {
				color: $primary-color;
				text-decoration: underline;
				cursor: pointer;
			}
			.aboutMeHidden {
				display: none;
				color: $secondary-color;
			}
			&:nth-child(odd) {
				animation: slideRight 0.5s;
			}
			&:nth-child(even) {
				animation: slideLeft 0.5s;
			}
		}
	}
}

@keyframes slideLeft {
	from { transform: translateX(1000px); }
	to { transform: translateX(0px); }
}
@keyframes slideRight {
	from { transform: translateX(-1000px); }
	to { transform: translateX(0px); }
}

@media (max-width: 768px) {
	.container {
		font-size: 1.2em;
		.name {
			font-size: 3.5em;
			span:nth-child(1) {
				margin-top: 15%;
			}
		}
		.content {
			input[type="radio"]:checked ~ .hiddenLinks {
				height: 40px;
			}
		}
	}
}