.container {
    width: 100%;
    font-family: $font-stack;
    margin: 20px auto 0;
    text-align: center;
    cursor: default;
    font-size: 1.2em;
    @mixin atMedium {
        font-size: 1em;
    }
}