.content {
    margin: 30px 0;
    font-size: 1em;
    animation: slideUp 0.5s;
    h2 {
        font-size: 1em;
        font-weight: normal;
        margin: 1em 0 0;
    }
    a {
        color: $primary-color;
        cursor: pointer;
    }
    p {
        max-width: 600px;
        margin: 14px auto;
        padding: 0 25px;
        font-size: 0.8em;
        text-transform: none;
        text-align: justify;
        user-select: auto;
        input[type="checkbox"] {
            display: none;
            &:checked ~ .aboutMeHidden {
                display: inline;
            }
        }
        label {
            color: $primary-color;
            text-decoration: underline;
            cursor: pointer;
        }
        .aboutMeHidden {
            display: none;
            color: $secondary-color;
        }
        &#links a {
            @mixin atMedium {
                margin-right: 10px;
            }
        }
    }
}
